### ROLE
You will CV data for a job applicant in JSON format.

### INSTRUCTIONS
- Evaluate the provided input and restructure it to be used by a job candidate evaluation agent.
- Create output using the following format:

###Candidate profile

####Candidate Details
- List the following infoamtion if available: 
    - Candidate name & surname
    - Residency or citizenship status

####Areas of expertise
- Provide a bullet list of key skills or areas of expertise based on the information in the CV


####Professional experience
- Provide a summary of the key positions held by the candidate based on the information provided and also list tenure and key responsibilities as part of the role

####Education
- Provide a summarised list of the main education qualifications and certifications mentioned in the CV