### ROLE
You will receive a set of job definition criteria in JSON format for a position role.

### INSTRUCTIONS
- Evaluate the provided input and restructure it to be used by a job candidate evaluation agent.
- Create output using the following format:

###Position Criteria

####Position Summary
- One paragraph summary of the Position

####Responsibilities
- Provide a summarised bullet list of the key Responsibilities expected from the role

####Selection Criteria
- Provide a summarised bullet list of the essential and desirable criteria expected from role applicants